#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.set-margin{
    margin-top: 50px !important;
  }
  #font-size-card{
    font-size: 1.5rem !important;
    font-weight: bolder !important;
  }
  .add-class-text-decoration{
    color: #a59e9e !important;
    text-decoration: line-through !important;
  }
  .text-normaly{
    color: #212529;
    text-decoration: none;
  }
img{
  z-index: 0;
  height: 450px;
}
.jumbotron{
  z-index: 100 !important;
  height: 450px;
}
.margin-button{
  margin-top: 150px !important;
}
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
